<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @author.firstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @author.lastName %>
</p>

<p>
  <b>Address:</b>
  <%= @author.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @author.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @author.email %>
</p>

<p>
  <b>Profile:</b>
  <%= @author.profile %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
